<img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg">

<center> <font color= #004A94> <font size = 6> Msc Ciencia de datos </font> <br> <br> <font color= #047CFB> <font size = 5>I.F. Juan Francisco Muñoz Elguezabal</font> <br> <br>

<center><font color= #004A94> <font size = 6> INVESTIGACIÓN, DESARROLLO E INNOVACIÓN - 1 </font> <br>

<center><font color= #42c29b> <font size = 6> Tarea 1: </font> <br> <br> <font color= #047CFB> <font size = 5>Repositorio: <a href='https://github.com/IFFranciscoME/FinTechLab/'>Link</a></font>

---

Utilizando el archivo adjunto realice código en Python que realice las siguientes acciones.

Primero lea la hoja vt en un Dataframe vt y sobre este:

Suponga que ha habido un olvido y no se tomó en cuenta un Ingreso mensual de $1000 en todos los meses. Modifique el DataFrame para aumentar en $1000 los ingresos de cada mes.
Agregue una columna Utilidad (Ingreso - Gasto).
Encuentre el promedio de Gasto en los meses en los que la Utilidad fue negativa.
Encuentre los ingresos totales del año.
Encuentre la lista de los meses en los que la Utilidad fue positiva.
 

Ahora lea la hoja 8c, que representa las distancias en kilómetros entre una serie de ciudades, en un Dataframe cd y sobre este:

Convierta todos los valores a millas (km/1.609)
Genere una serie llamada gdl con las distancias a partir de Guadalajara a todas las ciudades.
Encuentre la lista de las ciudades que están a más de 1000 millas de Guadalajara.

In [6]:
import pandas as pd

In [8]:
datos =pd.read_excel('datosCT.xlsx', sheet_name='vt')

In [9]:
datos.head()

         Ingreso  Gasto
Enero       1340   1880
Febrero     2590   3130
Marzo       3570   2140
Abril       4450   3370
Mayo        1330   2990